body{
    font-family: Georgia;
    background-image: url(85198154-seamless-money-pattern-with-many-euro-and-dollar-currency-signs-on-white-background-paper-banknotes-.jpg);
}

.container{
    width: 80%;
    margin:20px;
    border: 1px, solid, black;
}

#frame{
    background-color:rgba(0, 173, 176, 0.815);
    width: 800px;
    margin: 40px auto 80px;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    color: white
}

thead{
    border: 3px, solid, white;
    border-radius: 15px;
    width: 100%;
}

